
.mdl-card {
  text-align: center;
}

.mdl-card__title {
  color: #7fd13b;
}

h2.result {
  color: #60b5cc;
}

.card-action > a {
  cursor: pointer;
}

.button {
  color: #60b5cc;
}

.btn {
	background-color: #7fd13b;
}

.btn:hover {
	background-color: #60b5cc;
}

.btn:active {
	background-color: #5a6378;
}

input:focus{
  outline: none;
}
