
.logo {
  width: 30%;
	height: 30%;
}

.card {
  text-align: center;
}

.input-field{
  text-align: left;
}

.card-action > a {
  cursor: pointer;
}

.btn {
	background-color: #7fd13b;
}

.btn:hover {
	background-color: #60b5cc;
}

.btn:active {
	background-color: #5a6378;
}
